*,
*.before,
*.after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}