.about {
    background:  radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("../../images/slider-bg.jpg") no-repeat center;
    background-size: cover;

}

.about__inner {
    display: flex;
    padding-top: 188px;
    padding-bottom: 280px;
}

.about__info {
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__text {
    width: 100%;
    max-width: 365px;
    margin-left: 185px;
    margin-right: 30px;

    font-size: 18px;
    line-height: 22px;

    position: relative;
}

.about__text::after {
    content: '';
    width: 712px;
    height: 3px;

    position: absolute;
    top: -40%;
    left: -50%;

    background-color: #fff;
    z-index: 10;

}

.about__text span {
    position: relative;
}

.about__text span::after {
    content: '';
    width: 122px;
    height: 3px;

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFB548;
}



/* стили основного контейнера слайдера */
.slider {
    position: relative;
    width: 100%;

}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
    /* position: absolute; */
    right: 0;
    left: 0; 
    top: 0; 
    bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider__item {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 610px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0; 
    top: -100px; 
    bottom: 0;

    transition: all .3s;
    
}



.slider-img {
    width: 100%;
    max-width: 500px;
    height: 610px;
    object-fit: cover;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0; 
    top: 0; 
    bottom: 0;
}

.arrow-next {
    border: none;
    background: none;

    background-color: transparent;

    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    
}

@media(max-width: 1200px) {
    .about__inner {
        flex-wrap: wrap;
    }

    .about__info {
        margin: 0 auto;
    }

    .slider-img {
        height: 310px;
    }

    .arrow-next {
        top: 50px;
        right: 15%;
    }
}

@media ( max-width: 768px) {
    .slider {
        display: none;
    }

    .about__text::after {
        width: 100%;
        max-width: 712px;
    }
}

@media(max-width: 575px) {
    .about__text {
        margin-left: 0;
    }

    .about__text::after {
        top: -30%;
        left: 1%;
    }
}
@media(max-width: 320px) {
    .about__text {
        margin-left: 0;
        font-size: 14px;
    }

    .about__text span::after {
        width: 95px;
    }
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 50px;
}



.one {
    transform:  translate(0) scale(1);
    z-index: 5;
}

.two {
    transform:  translate(50px) scale(0.9);
    z-index: 4;
}
.three {
    transform:  translate(80px) scale(0.85);
    z-index: 3;
}
.four {
    transform:  translate(110px) scale(0.8);
    z-index: 2;
}

.top {
    transform:  translate(0) scale(1);
    z-index: 7;
}