.features {
    padding-top: 167px;

    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../../images/features-bg.jpg") no-repeat top;
    background-size: cover;

}
.features__inner {
    padding-bottom: 258px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.accordion {
    width: 420px;
    height: 300px;
}

.accordion__item {
    margin-bottom: 36px;
    margin-left: 32px;

    position: relative;
}



.accordion__item-title {
    margin-bottom: 5px;
    font-family: 'Bebas Neue';
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 2px;

    color: #FFB548;

    cursor: pointer;
}


.accordion__item-text {
    width: 362px;
    height: 0;
    overflow: hidden;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    margin-bottom: 27px;
}


.accordion__item-dots {
    width: 14px;
    height: 14px;

    border-radius: 50%;
    border: 1px solid #fff;

    position: absolute;
    top: 10px;
    left: -32px;

    background-color:  transparent;
}

.line {
    width: 2px;
    height: 0;


    position: absolute;
    top: 24px;
    left: -26px;

    background-color: #fff;

    transition: all .5s;
}

.active .accordion__item-dots {
    background-color: #fff;
}


.active .accordion__item-text {
    height: 78px;
}

.active .line {
    height: 149px;
}
