/* Header */

.header {
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("../../images/header-bg.jpg") no-repeat center;
    background-size: cover;
    border: 1px solid #000000;

    min-height: 958px;
}

.header::after {
    content: '';
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item + .nav__item {
    padding-left: 30px;
}

.nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #fff;
}

.header__item {
    display: flex;
}

.icon__box {
    justify-content: flex-end;
    margin-left: 48px;
    position: relative;
}

.icon__link + .icon__link {
    margin-left: 17px;
}


.icon__link:hover .header__icon {
    transform: scale(1.1);
}

.icon__box::before {
    content: '';
    width: 1px;
    height: 30px;

    position: absolute;
    top: 0;
    left: -24px;

    background-color: #fff;
    opacity: 0.5;
}

.select__box {
    padding-top: 7px;
    width: 53px;
    outline: none;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.select__box::after {
    content: '';
    width: 15px;
    height: 10px;

    position: absolute;
    top: 65%;
    right: 0;

    transform: translateY(-65%);

    background: url(../../images/arrow-header.svg) no-repeat;

}

.select__value {
    display: block;
    padding: 3px 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.select:focus .select_dropdown {
    display: block;
}

.select__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    z-index: 10;
}

.select__option {
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    opacity: 1;
}

.select__option:hover {
    color: #FFB548;
}



.header__content {
    margin-top: 17%;
    margin-bottom: 35%;

    text-align: center;
    align-items: center;
}

.header__content-title {
    margin-bottom: 10px;

    font-family: 'Bebas Neue';
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header__content-subtitle {
    margin-bottom: 30px;

    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.header__btn-down {
    text-align: center;
    margin-bottom: 53px;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.header__btn-text {
    margin-bottom: -8px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    text-transform: uppercase;
}



@keyframes animateArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

.show {
    display: block;
}

