/* Header */

.header {
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("../../images/header-bg.jpg") no-repeat center;
    background-size: cover;
    border: 1px solid #000000;
}


.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item + .nav__item {
    padding-left: 30px;
}

.nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #fff;
}

.header__item {
    display: flex;
}

.icon__box {
    justify-content: flex-end;
    margin-left: 48px;
    position: relative;
}

.icon__link + .icon__link {
    margin-left: 17px;
}


.icon__link:hover .header__icon {
    transform: scale(1.1);
}

.icon__box::before {
    content: '';
    width: 1px;
    height: 30px;

    position: absolute;
    top: 0;
    left: -24px;

    background-color: #fff;
    opacity: 0.5;
}

.select__box {
    padding-top: 7px;
    width: 53px;
    outline: none;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.select__box::after {
    content: '';
    width: 15px;
    height: 10px;

    position: absolute;
    top: 70%;
    right: 0;

    transform: translateY(-65%);

    background: url(../../images/arrow-header.svg) no-repeat;

}



.select__value {
    display: block;
    padding: 3px 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.select__value:hover{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.select:focus .select_dropdown {
    display: block;
}

.select__dropdown {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    z-index: 10;
}

.select__option {
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    opacity: 1;
}

.select__option:hover {
    color: #FFB548;
}



.header__content {
    margin-top: 17%;
    margin-bottom: 35%;

    text-align: center;
    align-items: center;
}

.header__content-title {
    margin-bottom: 10px;

    font-family: 'Bebas Neue';
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header__content-subtitle {
    margin-bottom: 30px;

    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__btn:hover {
    color: #000;
}


.header__btn-down {
    text-align: center;
    margin-bottom: 53px;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.header__btn-text {
    margin-bottom: -8px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    text-transform: uppercase;
}

.mobile__btn {
    visibility: hidden;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 5%;

    border: none;
    background: none;
    cursor: pointer;
}

.mobile__btn span {
    margin-top: 13px;
    display: block;
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: relative;
    top: 0;
    left: 0;
}


.mobile__btn span::before,
.mobile__btn span::after {
    content: '';
    width: 100%;
    height: 2px;

    position: absolute;
    background: #fff;

    transition: all .5s;
    
}

.mobile__btn span::before {
    top: -8px;
}

.mobile__btn span::after {
    bottom: -8px;
}

.mobile__btn span.active {
    background: rgba(255, 255, 255, 0); 
}

.mobile__btn span.active::before {
    top: 0;
    transform: rotate(45deg);
}
.mobile__btn span.active::after {
    bottom: 0;
    transform: rotate(-45deg);
}


@media (max-width: 900px) {
    .header__logo,
    .header__icon,
    .icon__box,
    .icon__box::before {
        display: none;
    }

    .header__top {
        justify-content: space-around;
    }

    .header__content-title {
        font-size: 70px;
        line-height: 90px;
    }

    .header__content {
        margin-top: 30%;
        margin-bottom: 50%;
    }

}

@media (max-width: 768px) {
    .header__top {
        justify-content: flex-end;
    }

    .mobile__btn {
        visibility: visible;
        z-index: 7;
    }

    .nav__list {
        visibility: hidden;
        opacity: 0;
        display: block;
        padding: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;

        border-radius: 3px;
        background: rgba(0, 0, 0, 0.9);

        z-index: 5;

        transition: .3s visibility ease-in-out, .3s opacity ease-in-out;
    }

    .nav__item + .nav__item {
        padding-left: 0;
    }

    .nav__item {
        margin: 70px 10px;
    }

    .nav__link {
        padding: 0;
        margin: 10px;
    }
}

@media (max-width: 575px) {
    .header__content {
        margin-top: 60%;
        margin-bottom: 70%;
    }

    .header__content-title {
        font-size: 50px;
        line-height: 70px;
    }

    .header__content-subtitle {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 420px) {
    .header__content {
        margin-top: 50%;
        margin-bottom: 40%;
    }

    .header__content-title {
        font-size: 30px;
        line-height: 40px;
    }

    .header__content-subtitle {
        font-size: 14px;
        line-height: 15px;
    }
}


@keyframes animateArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}


.show {
    visibility: visible;
    opacity: 1;
    
}
.hide {
    visibility: hidden;
    opacity: 0;
}

